{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  }
}
